.banner
  .col-sm-3.banner-mat
    =image_tag 'ba1.jpg', class: 'img-responsive'
  .col-sm-6.matter-banner
    .slider
      .callbacks_container
        %ul#slider.rslides
          %li
            =image_tag '1.jpg'
          %li
            =image_tag '2.jpg'
          %li
            =image_tag '1.jpg'
  .col-sm-3.banner-mat
    =image_tag 'ba.jpg', class: 'img-responsive'
  .clearfix
