.header
  .header-top
    .container
      .head-top
      .col-sm-1
        =image_tag 'logo_165_green.png', class: 'img-responsive'
      .col-sm-2.number
        %span
          %i.glyphicon.glyphicon-phone>
          400 596 234
      .col-sm-7.h_menu4
        %ul.memenu.skyblue
          %li.grid
            %a{:href => "#"} 男士
            .mepanel
              .row
                .col1
                  .h_nav
                    %h4 All Clothing
                    %ul
                      %li
                        %a{:href => "products.html"} Shirts
                      %li
                        %a{:href => "products.html"} Sports Wear
                      %li
                        %a{:href => "products.html"} Shorts
                .col1
                  .h_nav
                    %h4 Footwear
                    %ul
                      %li
                        %a{:href => "products.html"} Formal Shoes
                      %li
                        %a{:href => "products.html"} Boots
                      %li
                        %a{:href => "products.html"} Sports Shoes
                .col1
                  .h_nav
                    %h4 Popular Brands
                    %ul
                      %li
                        %a{:href => "products.html"} Levis
                      %li
                        %a{:href => "products.html"} Persol
                      %li
                        %a{:href => "products.html"} Nike
          %li.grid
            %a{:href => "#"} 女士
            .mepanel
              .row
                .col1
                  .h_nav
                    %h4 All Clothing
                    %ul
                      %li
                        %a{:href => "products.html"} Shirts &amp; Tops
                      %li
                        %a{:href => "products.html"} Sports Wear
                      %li
                        %a{:href => "products.html"} Kurtas &amp; Kurties
                      %li
                        %a{:href => "products.html"} Suits &amp; Blazers
                      %li
                        %a{:href => "products.html"} Sarees
                      %li
                        %a{:href => "products.html"} Sweatpants
                      %li
                        %a{:href => "products.html"} Swimwear
                      %li
                        %a{:href => "products.html"} Night-Suits
                      %li
                        %a{:href => "products.html"} T-Shirts
                      %li
                        %a{:href => "products.html"} Jeans
                .col1
                  .h_nav
                    %h4 Footwear
                    %ul
                      %li
                        %a{:href => "products.html"} Heels
                      %li
                        %a{:href => "products.html"} Flats
                      %li
                        %a{:href => "products.html"} Sports Shoes
                      %li
                        %a{:href => "products.html"} Casual Shoes
                      %li
                        %a{:href => "products.html"} Running Shoes
                      %li
                        %a{:href => "products.html"} Wedges
                      %li
                        %a{:href => "products.html"} Boots
                      %li
                        %a{:href => "products.html"} Pumps
                      %li
                        %a{:href => "products.html"} Slippers
                      %li
                        %a{:href => "products.html"} Flip-flops
                .col1
                  .h_nav
                    %h4 Popular Brands
                    %ul
                      %li
                        %a{:href => "products.html"} Levis
                      %li
                        %a{:href => "products.html"} Persol
                      %li
                        %a{:href => "products.html"} Nike
                      %li
                        %a{:href => "products.html"} Edwin
                      %li
                        %a{:href => "products.html"} New Balance
                      %li
                        %a{:href => "products.html"} Jack &amp; Jones
                      %li
                        %a{:href => "products.html"} Paul Smith
                      %li
                        %a{:href => "products.html"} Ray-Ban
                      %li
                        %a{:href => "products.html"} Wood Wood
          %li
            %a{:href => "#"} 儿童
          %li
            %a.color6{:href => "#"} 汽车
          %li
            %a{:href => "#"} 商品房
      .col-sm-2
        .cart.box_1
          %a{:href => "checkout.html"}
            .total
              %span.simpleCart_total.glyphicon.glyphicon-shopping-cart

