.content
  .container
    .content-top
      %h1 Recent Products
      .content-top1
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi.png', class: 'img-responsive'
            %h3
              %a{:href => "#"} Tops
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi2.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} T-Shirt
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi4.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} Shirt
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi3.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} Tops
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .clearfix
      .content-top1
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi4.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} Shirt
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi5.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} T-Shirt
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi5.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} Jeans
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .col-md-3.col-md2
          .col-md1.simpleCart_shelfItem
            =image_tag 'pi6.png', class: 'img-responsive'
            %h3
              %a{:href => "single.html"} Tops
            .price
              %h5.item_price $300
              %a.item_add{:href => "#"} Add To Cart
              .clearfix
        .clearfix
