.footer
  .container
    .footer-top
      .col-md-4.top-footer
      .col-md-4.top-footer1
        %h3 邮件订阅
        %form
          %input{:onblur => "if (this.value == '') {this.value ='';}", :onfocus => "this.value='';", :type => "text", :value => ""}/
          %input{:type => "submit", :value => "订阅"}/
      .clearfix
  .footer-bottom
    .container
      .col-sm-3.footer-bottom-cate
        %h6 Categories
        %ul
          %li
            %a{:href => "#"} Curabitur sapien
          %li
            %a{:href => "#"} Dignissim purus
          %li
            %a{:href => "#"} Tempus pretium
          %li
            %a{:href => "#"} Dignissim neque
          %li
            %a{:href => "#"} Ornared id aliquet
      .col-sm-3.footer-bottom-cate
        %h6 Feature Projects
        %ul
          %li
            %a{:href => "#"} Curabitur sapien
          %li
            %a{:href => "#"} Dignissim purus
          %li
            %a{:href => "#"} Tempus pretium
          %li
            %a{:href => "#"} Dignissim neque
          %li
            %a{:href => "#"} Ornared id aliquet
      .col-sm-3.footer-bottom-cate
        %h6 Top Brands
        %ul
          %li
            %a{:href => "#"} Curabitur sapien
          %li
            %a{:href => "#"} Dignissim purus
          %li
            %a{:href => "#"} Tempus pretium
          %li
            %a{:href => "#"} Dignissim neque
          %li
            %a{:href => "#"} Ornared id aliquet
          %li
            %a{:href => "#"} Ultrices id du
          %li
            %a{:href => "#"} Commodo sit
      .col-sm-3.footer-bottom-cate.cate-bottom
        %h6 Our Address
        %ul
          %li Aliquam metus  dui.
          %li orci, ornareidquet
          %li ut,DUI.
          %li nisi, dignissim
          %li gravida at.
          %li.phone PH : 6985792466
      .clearfix
      %p.footer-class
        © 2015 Fashion Mania. All Rights Reserved | Design by
        %a{:href => "http://w3layouts.com/", :target => "_blank"} W3layouts

