.row.panel.panel-primary.panel-body.clearfix
  = render 'product_show_slide', product: @product
  = render 'product_info', product: @product
  = render 'product_holder_list', product: @product
.row.panel.panel-primary.panel-body.clearfix
  = render 'product_full_detail', product: @product

