.col-md-5
  .product_show_slide
    %ul#lightSlider
      %li{"data-thumb" => "images/range_rover_thumb_01.jpg"}
        =image_tag 'range_rover_gallery_01.jpg'

      %li{"data-thumb" => "images/range_rover_thumb_02.jpg"}
        =image_tag 'range_rover_gallery_02.jpg'

      %li{"data-thumb" => "images/range_rover_thumb_03.jpg"}
        =image_tag 'range_rover_gallery_03.jpg'

      %li{"data-thumb" => "images/range_rover_thumb_04.jpg"}
        =image_tag 'range_rover_gallery_04.jpg'

      %li{"data-thumb" => "images/range_rover_thumb_05.jpg"}
        =image_tag 'range_rover_gallery_05.jpg'

      %li{"data-thumb" => "images/range_rover_thumb_06.jpg"}
        =image_tag 'range_rover_gallery_06.jpg'
