%h1 奇瑞路虎 ● 揽胜极光
%h3 荣膺160多项国际大奖，记录还在不断被超越

%h5 这是大胆革新的一步，它不同于您所见过的任何揽胜——但是您仍能看出它的揽胜血统。奇瑞路虎车型充分展现了设计师和工程师的信念与价值观。秉承英国标志性的设计元素，我们专注打造内蕴从容在握的强大实力的车型。

=image_tag 'range_rover_01.jpg'

%h5 奇瑞路虎揽胜极光是揽胜家族在设计上的大胆革新之作。逐渐上扬的车身腰线，硬朗的车身线条和运动锥形车顶线条，赋予揽胜极光动感敏捷且极具力量感的姿态。

=image_tag 'range_rover_02.jpg'

%h5 极具吸引力的车身线条，硬朗的车肩线条和锥形车顶线条，让奇瑞路虎揽胜极光与众不同，魅力非凡。前照灯的自适应功能，可使光束自动与转向系统相匹配，时刻掌握道路状况。日间行车灯（DRLs）以新造型亮相，带来全新标志性外观。

=image_tag 'range_rover_03.jpg'

%h5 动感逾越的驾驶体验。奇瑞路虎揽胜极光可在城市中自由穿梭，甚至能适应恶劣的天气状况。路虎以无可匹敌的全地形能力闻名于世，揽胜极光继承了强大的家庭能力，能满足您最严苛的期待。全地形反馈适应系统，可自动识别各种地形，只能优化车辆的发动机、变速箱、差速器和底盘系统，为车主提供无与伦比的驾驭体验。

=image_tag 'range_rover_04.jpg'

%h5 揽胜极光是揽胜家族中尺寸最小的车型，始终致力于采取全面的措施，减少车辆对周围环境的影响。其紧凑型车身，有助于降低车重，改善空气动力学性能表现，而低重心设计，则带来了更动感、敏捷的驾控体验。前瞻的设计理念与生产过程，正是路虎对可持续发展未来承诺的庄严践行。

=image_tag 'range_rover_05.jpg'

%h5 一系列时尚个性的设计，带来简洁非凡、极具建筑艺术感的内饰风格。融合了全新科技的座椅设计，前排座椅先进的温度控制系统，任您尽享舒适轻松的驾驭体验。精心设计的车内可调氛围灯，同样可通过触摸屏控制，可提供十种不同的灯光色彩和多种亮度设置，适合不同的场合和氛围。设置为“秘密”时，可将车舱亮度调节至最低。

=image_tag 'range_rover_06.jpg'

%h5 全尺寸固定式全景天窗，能提升车内亮度和空间感，让您每一秒都能感受周围光影变幻，美景无限。

=image_tag 'range_rover_07.jpg'

%h3 重要说明：

%ul
  %li 商品获得者拥有奇瑞路虎 揽胜极光 2015款 2.0T 五门风尚版 20年免费使用权。
  %li 商品价格已包含购置税、上牌费、交强险费用，其中，不含过户费用和商业险费用。因车辆区域保护政策，目前揭晓的商品将会上广东省内的牌，具体上牌地点以车行提供为准。注：商品获得者填写的收货人姓名需与其身份证一致。
  %li 车辆颜色，具体以车行提供为准。
  %li 该商品的详情和展示图使用的是路虎揽胜极光系列图片，仅供参考，网站出售的具体车型请以车行的实物为准。
  %li 本站对本商品使用权在法律范围内拥有最终解释权。
